@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font-family: 'Russo One', sans-serif;
  cursor: pointer;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Russo One', sans-serif;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

label {
  width: 100%;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #6c4c67;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
input,
select {
  height: 2.5rem;
}
textarea {
  height: 5rem;
}
